## Load Libraries

In [1]:
import sys
import numpy as np
import pandas as pd

## Load Dataset

In [2]:
df = pd.read_csv("../Dataset/res_processed.csv")

In [3]:
df

,Q1. Age,Q2. Gender,Q3. What is your marital status?,Q4. What is your highest level of education?,Q5. What industry do you work in?,Q6. What is your position level at work?,1. Do you own any of the following?->Mobile Smartphone,"1. Do you own any of the following?->Bank Cards (Credit, Debit, Pre-paid)",1. Do you own any of the following?->Touch n Go,1. Do you own any of the following?->Internet Services (e.g: Broadband),...,AX3: I hesitate to use Blockchain / Cryptocurrency Coin for fear of making mistakes I cannot correct.,AX4: Blockchain / Cryptocurrency Coin is somewhat intimidating to me.,T1: I feel comfortable using Blockchain / Cryptocurrency Coin.,T2: I feel the reliability to use Blockchain / Cryptocurrency Coin.,T3: I am glad about the service quality to use Blockchain / Cryptocurrency Coin.,T4: Blockchain / Cryptocurrency Coin Integrity is vital to me.,BI1: I intend to use Blockchain / Cryptocurrency Coin.,BI2: I plan to invest Blockchain / Cryptocurrency Coin.,BI3: I plan to have Blockchain / Cryptocurrency Coin as an E-Wallet.,BI4: I plan to use Blockchain / Cryptocurrency Coin for E-payment transaction to buy stuff.
0,< 25 years,Female,Single,College/university,Banking / Finance,Other,Yes,Yes,Yes,Yes,...,4,3,2,1,2,3,3,3,3,3
1,< 25 years,Female,Single,College/university,Other,Other,Yes,Yes,Yes,Yes,...,4,4,2,2,2,2,2,2,2,2
2,41 - 55 years,Female,Single,College/university,Manufacturing,Middle management,Yes,Yes,Yes,Yes,...,4,3,3,3,3,4,3,4,4,4
3,< 25 years,Male,Single,College/university,Education,Other,Yes,Yes,Yes,Yes,...,3,3,3,3,3,3,4,4,3,3
4,< 25 years,Female,Single,College/university,Other,Other,Yes,Yes,Yes,Yes,...,4,4,3,4,4,4,4,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,41 - 55 years,Male,Married,Secondary/High school,Other,Other,Yes,Yes,No,Yes,...,3,3,3,3,3,3,3,3,3,3
281,above 55 years,Male,Married,Graduate school,Education,Top management,Yes,Yes,No,Yes,...,4,3,3,3,3,3,3,3,3,3
282,above 55 years,Female,Married,College/university,Other,Other,Yes,Yes,No,Yes,...,3,3,3,3,3,3,3,3,3,3
283,41 - 55 years,Male,Married,Graduate school,Education,Professional,Yes,Yes,No,Yes,...,3,3,4,4,4,4,4,4,4,4
284,< 25 years,Male,Single,College/university,Other,Other,Yes,Yes,No,Yes,...,3,3,3,3,3,3,3,3,3,3

In [5]:
import plotly.express as px
from Visualization.model_graph import *

selected_feature = "1. Do you own any of the following?->Mobile Smartphone"
target_feature = "Q2. Gender"

tmp_df = df.loc[:, [target_feature, selected_feature]]
tmp_df.columns = [target_feature, "Target"]
unique_arr = tmp_df[target_feature].unique().tolist()

tmp_df = pd.crosstab(tmp_df.iloc[:, 1], tmp_df.iloc[:, 0])

tmp_df = tmp_df[unique_arr]

fig = show_bar_graph(tmp_df, selected_feature, target_feature, "Legend", "Count")
fig.write_image("res_data\\filter-target-graph.jpeg")